body {
    text-align: center;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

ul {
    list-style-type: none;
    display: flex;
}


li {
    margin: 10px;
}

/*classes and id organized in descending order according to HTML doc*/
.header {
    padding: 0px 100px 0px 100px;
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    color: #F9FAF8
}

.hero {
    padding: 0px 100px 40px 100px;
    display: flex;
    background-color: #1f2937;;
    align-items: center;
    gap: 100px;
    color: #F9FAF8;
}

#hero-button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

.hero-left {
    text-align: left;
}

.hero-left > h2 {
    font: bolder 48px;
}

.hero-left > p {
    font-weight: 18px;
}

.hero-right {
    padding: 50px 200px 50px 200px;
    background-color: gray;
}

.hero-right > img {
    max-width: 100%;
}

.content {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}   

.cards {
    padding: 40px 100px 40px 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    text-align: center;
    flex: 1 1 0px;
}

.card-img {
    border: 5px solid #3882f6;
    padding: 100px 0px 100px 0px;
    border-radius: 10px;
}

.story {
    padding: 200px 100px 200px 100px;
    background-color: #e5e7eb;
    flex: 1;
    text-align: left;
}

#story-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.action {
    padding: 20px 100px 20px 100px;
    margin: 50px 200px 50px 200px;
    background-color: #3882f6;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.action-left {
    text-align: left;
}

#action-button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
}

.footer {
    padding: 20px 0px 20px 0px;
    background-color: #1f2937;
    color:#F9FAF8;

}